/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

html, body {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "/assets/font/kenteken";
  src: url("kenteken.ttf");
}
.kentekenCheck-container {
  background-image: url("../img/kenteken.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: grey;
  height: 50vh;
}
.kentekenCheck-container .kentekenCheck {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.kentekenCheck-container .kentekenCheck__checker {
  border-radius: 0px 0px 25px 0px;
  padding: 25px;
  background-color: white;
  border-bottom: 10px solid #4287f5;
  width: 15vw;
  height: 20vh;
}
.kentekenCheck-container .kentekenCheck__checker__invoer {
  margin-top: 4vh;
}
.kentekenCheck-container .kentekenCheck__checker__knop {
  margin-top: 1vh;
}
.kentekenCheck-container .kentekenCheck__checker input {
  margin: 0 auto;
  display: block;
  width: 11.5vw;
  height: 6vh;
  background-color: #FBBC01;
  background-image: url("assets/svg/license_plate.svg");
  background-repeat: no-repeat;
  font-family: "kenteken", Fallback, sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  padding-left: 25px;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  transition: transform 0.1s ease-in;
}
.kentekenCheck-container .kentekenCheck__checker input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.kentekenCheck-container .kentekenCheck__checker input:hover {
  transform: scale(1.05);
}
.kentekenCheck-container .kentekenCheck__checker button {
  margin: 0 auto;
  width: 13vw;
  padding: 10px;
  font-size: 1em;
  display: block;
  font-weight: bold;
  background-color: #4287f5;
  border: none;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease-in;
}
.kentekenCheck-container .kentekenCheck__checker button:hover {
  background-color: #3371d4;
}
.kentekenCheck-container .kentekenCheck__info {
  border-radius: 25px 0px 0px 0px;
  padding: 25px;
  background-color: white;
  border-bottom: 10px solid #4287f5;
  width: 16vw;
  height: 20vh;
}
.kentekenCheck-container .kentekenCheck__info__mark {
  font-size: 1.25em;
  line-height: 1.65em;
}
.kentekenCheck-container .kentekenCheck__info__mark i, .kentekenCheck-container .kentekenCheck__info__mark span {
  color: #4287f5;
}
.kentekenCheck-container .kentekenCheck__info__mark.--title {
  font-size: 1.8em;
  font-weight: bold;
}

.grid-container {
  background-color: #fff;
  height: 20vh;
  margin: 40px;
}
.grid-container .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 100px;
  height: 100%;
  width: 50%;
  margin: 0 auto;
}
.grid-container .grid__section {
  text-align: center;
  color: #4287f5;
  line-height: 1.3em;
}
.grid-container .grid__section i {
  font-size: 4em;
  margin-bottom: 10px;
}
.grid-container .grid__section h1 {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5px;
}
.grid-container .grid__section p {
  color: #000;
  text-align: left;
}

.kenteken-container .kentekenHeader {
  height: 20vh;
  background-color: #4287f5;
  padding: 3% 26% 0% 26%;
}
.kenteken-container .kentekenHeader h1 {
  color: white;
  font-size: 2.5em;
}
.kenteken-container .kentekenHeader h1 span:first-child {
  font-weight: bold;
}
.kenteken-container .kentekenHeader__info {
  color: white;
  margin-top: 5px;
  font-size: 1.3em;
  line-height: 1.3em;
}
.kenteken-container .kentekenHeader__info span {
  font-weight: bold;
}
.kenteken-container .kentekenHeader__info span:first-child, .kenteken-container .kentekenHeader__info span:last-child {
  text-transform: lowercase;
}
.kenteken-container .kentekenMeer {
  width: 50%;
  margin: 0 auto;
}
.kenteken-container .kentekenMeer table {
  width: 100%;
}
.kenteken-container .kentekenMeer table th {
  text-align: left;
  color: #4287f5;
  font-weight: bold;
  font-size: 1.3em;
  background-color: #fff;
  border-bottom: 2px solid #4287f5;
}
.kenteken-container .kentekenMeer table td {
  font-size: 1.1em;
  line-height: 1.5em;
}
.kenteken-container .kentekenMeer table th, .kenteken-container .kentekenMeer table td {
  padding: 15px;
}
.kenteken-container .kentekenMeer table th {
  padding-top: 30px;
}
.kenteken-container .kentekenMeer table tr:nth-child(even) {
  background-color: #f7f7f7;
}
.kenteken-container .kentekenMeer table tr:nth-child(odd) {
  background-color: #fff;
}

footer {
  background-color: #222;
  padding: 25px 0px 25px 0px;
}
footer p {
  text-align: center;
  font-size: 0.8em;
  color: #fff;
}
footer a {
  color: #4287f5;
  font-weight: bold;
  transition: color 0.1s ease-in;
}
footer a:hover {
  color: #3371d4;
}

/*# sourceMappingURL=master.css.map */
