@import '../css/assets/reset/reset';
@import '../css/assets/font/font';

.kentekenCheck-container {
  background-image: url('../img/kenteken.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: grey;
  height: 50vh;

  .kentekenCheck {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    // background-color: rgba(52, 134, 235, 0.7);

    &__checker {
      border-radius: 25px 0px 0px 0px;
      padding: 25px;
      background-color: rgba(255, 255, 255, 1);
      border-bottom: 10px solid rgba(66, 135, 245, 1);
      width: 15vw;
      height: 20vh;

      img {
        max-width: 250px;
      }

      input {
        font-family: 'kenteken', Fallback, sans-serif;
        font-size: 2em;
        width: 10vw;
        background-color: yellow;
      }

      button {
        font-size: 2em;
      }
    }

    &__info {
      border-radius: 0px 0px 25px 0px;
      padding: 25px;
      background-color: rgba(255, 255, 255, 1);
      border-bottom: 10px solid rgba(66, 135, 245, 1);
      width: 16vw;
      height: 20vh;

      &__mark {
        font-size: 1.25em;
        line-height: 1.65em;

        i, span {
          color: rgba(66, 135, 245, 1);
        }

        &.--title {
          font-size: 1.8em;
          font-weight: bold;
        }
      }
    }
  }
}



.kenteken-container {
  // display: none;
  background-color: #eee;
}
