@import '../css/assets/reset/reset';
@import '../css/assets/font/font';



// DEBUG:
.header-container {
  height: 6vh;
  background-color: yellow;
}

.kentekenCheck-container {
  background-image: url('../img/kenteken.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: yellow;
  height: 40vh;

  .kentekenCheck {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &__checker {
      background-color: #fff;
      width: 20vw;
      height: 10vh;

      input {
        font-family: 'kenteken', Fallback, sans-serif;
        font-size: 2em;
        width: 200px;
        background-color: yellow;
      }

      button {
        font-size: 2em;
      }
    }

    &__info {
      background-color: #fff;
      width: 10vw;
      height: 10vh;
    }
  }
}



.kenteken-container {
  // display: none;
}
