@import '../css/assets/reset/reset';
@import '../css/assets/font/font';

.kentekenCheck-container {
  background-image: url('../img/kenteken.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: grey;
  height: 50vh;

  .kentekenCheck {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &__checker {
      border-radius: 0px 0px 25px 0px;
      padding: 25px;
      background-color: rgba(255, 255, 255, 1);
      border-bottom: 10px solid rgba(66, 135, 245, 1);
      width: 15vw;
      height: 20vh;

      &__invoer {
        margin-top: 4vh;
      }

      &__knop {
        margin-top: 1vh;
      }

      input {
        margin: 0 auto;
        display: block;
        width: 11.5vw;
        height: 6vh;
        background-color: #FBBC01;
      	background-image: url('assets/svg/license_plate.svg');
        background-repeat: no-repeat;
        font-family: 'kenteken', Fallback, sans-serif;
        font-size: 2em;
        font-weight: bold;
        color: #000;
        text-transform: uppercase;
        text-align: center;
        padding-left: 25px;
        border: 2px solid black;
        border-radius: 5px;
        outline: none;
        transition: transform .1s ease-in;

        &::placeholder {
          color: rgba(0, 0, 0, 0.5);
        }

        &:hover {
          transform: scale(1.05);
        }
      }

      button {
        margin: 0 auto;
        width: 13vw;
        padding: 10px;
        font-size: 1em;
        display: block;
        font-weight: bold;
        background-color: rgba(66, 135, 245, 1);
        border: none;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color .1s ease-in;

        &:hover {
          background-color: rgba(51, 113, 212, 1);
        }
      }
    }

    &__info {
      border-radius: 25px 0px 0px 0px;
      padding: 25px;
      background-color: rgba(255, 255, 255, 1);
      border-bottom: 10px solid rgba(66, 135, 245, 1);
      width: 16vw;
      height: 20vh;

      &__mark {
        font-size: 1.25em;
        line-height: 1.65em;

        i, span {
          color: rgba(66, 135, 245, 1);
        }

        &.--title {
          font-size: 1.8em;
          font-weight: bold;
        }
      }
    }
  }
}

.grid-container {
  background-color: #fff;
  height: 20vh;
  margin: 40px;

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px;
    height: 100%;
    width: 50%;
    margin: 0 auto;

    &__section {
      text-align: center;
      color: rgba(66, 135, 245, 1);
      line-height: 1.3em;

      i {
        font-size: 4em;
        margin-bottom: 10px;
      }

      h1 {
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: 5px;
      }

      p {
        color: #000;
        text-align: left;
      }
    }
  }
}

// DEBUG:
.kenteken-container {
  display: none;
  background-color: #eee;
  height: 20vh;
}

footer {
  background-color: #222;
  padding: 25px 0px 25px 0px;

  p {
    text-align: center;
    font-size: 0.8em;
    color: #fff;
  }

  a {
    color: rgba(66, 135, 245, 1);
    font-weight: bold;
    transition: color .1s ease-in;

    &:hover {
      color: rgba(51, 113, 212, 1);
    }
  }
}
